---
layout: layouts/default.njk
subtitle: Acompañamiento fotográfico en el duelo gestacional y neonatal en Cantabria
---

<section
  id="home"
  class="flex items-center justify-center -mt-20 min-h-screen px-4 bg-cover bg-no-repeat bg-center"
>
  {% include "home/main.njk" %}
</section>

<section
  id="about-us"
  class="flex items-center justify-center min-h-screen py-12 px-4"
>
  {% include "home/about_us.njk" %}
</section>

<section
  id="sessions"
  class="flex items-center justify-center min-h-screen py-12 px-4 bg-cover bg-no-repeat bg-center"
>
  {% include "home/sessions.njk" %}
</section>

<section
  id="links"
  class="flex items-center justify-center min-h-screen py-12 px-4"
>
  {% include "home/links.njk" %}
</section>

<section
  id="contact"
  class="flex items-center justify-center min-h-screen py-12 px-4 bg-gray-100"
>
  {% include "home/contact.njk" %}
</section>
