<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
/>
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="robots" content="noindex, nofollow">

<!-- TITLE TAGS -->
<title>{{ title }} | Regazo Fotografía</title>
<meta property="og:title" content="{{ title }} | Regazo Fotografía" />
<meta name="twitter:title" content="{{ title }} | Regazo Fotografía" />
<meta itemprop="name" content="{{ title }} | Regazo Fotografía" />
<meta name="application-name" content="{{ title }} | Regazo Fotografía" />
<meta property="og:site_name" content="{{ title }} | Regazo Fotografía" />

<!-- DESCRIPTION TAGS -->
<meta name="description" content="{{ description }}" />
<meta itemprop="description" content="{{ description }}" />
<meta property="og:description" content="{{ description }}" />
<meta name="twitter:description" content="{{ description }}" />

<!-- LINK TAGS -->
<!-- <base href="{{ permalink }}" />
<link rel="canonical" href="{{ permalink }}" itemprop="url" />
<meta name="url" content="{{ permalink }}" />
<meta name="twitter:url" content="{{ permalink }}" />
<meta property="og:url" content="{{ permalink }}" /> -->

<!-- LANGUAGE TAGS -->
<meta property="og:locale" content="es" />
<meta name="language" content="spanish" />

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">