<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
/>
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="robots" content="noindex, nofollow">

<base href="{{ domain }}" />

{# META #}
<title>{{ title }} | {{ name }}</title>
<meta name="application-name" content="{{ title }} | {{ name }}" />
<meta name="description" content="{{ description }}" />
<meta name="author" content="{{ name }}" />
{# see: https://docs.microsoft.com/en-us/previous-versions/windows/internet-explorer/ie-developer/dev-guides/bg182645(v=vs.85)#link-highlighting #}
<meta name="msapplication-tap-highlight" content="no" />
{# see: https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html #}
<meta name="apple-mobile-web-app-title" content="{{ name }}" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="url" content="{{ domain }}" />

{# ITEMPROP #}
<meta itemprop="name" content="{{ title }} | {{ name }}" />
<meta itemprop="description" content="{{ description }}" />
{# <meta itemprop="image" content="{{ .Scratch.Get "finalImage" }}" /> #}
<link itemprop="url" rel="canonical" href="{{ domain }}" />

{# OG #}
<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{ title }} | {{ name }}" />
<meta property="og:title" content="{{ title }} | {{ name }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:url" content="{{ domain }}" />
{# <meta property="og:image" content="{{ .Scratch.Get "finalImage" }}" /> #}
{# <meta property="og:image:width" content="{{ .Params.thumbnail.width | default .Site.Params.ogimage.width }}" /> #}
{# <meta property="og:image:height" content="{{ .Params.thumbnail.height | default .Site.Params.ogimage.height }}" /> #}
{# <meta property="og:updated_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z0700" | safeHTML }}" /> #}

{# TWITTER #}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ title }} | {{ name }}" />
<meta name="twitter:description" content="{{ description }}" />
<meta name="twitter:url" content="{{ domain }}" />
{# <meta name="twitter:image" content="{{ .Scratch.Get "finalImage" }}" /> #}
{# <meta name="twitter:image:src" content="{{ .Scratch.Get "finalImage" }}" /> #}

{# LANGUAGE #}
<meta property="og:locale" content="es" />
<meta name="language" content="spanish" />

{# ICONS #}
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

{% generator '' %}

{# <script defer type="application/ld+json">
  {
    "@context": "http://schema.org", 
    "@type": "WebSite", 
    "url": "{{ domain }}", 
    "sameAs": [
        "{{ facebook }}",
        "{{ instagram }}"
    ], 
    "name": "{{ title }}",
    "image": "{{ .Scratch.Get "finalImage" }}" 
  }
</script> #}