<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
/>
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="robots" content="noindex, nofollow">

{# TITLE #}
<title>{{ title }} | {{ name }}</title>
<meta property="og:title" content="{{ title }} | {{ name }}" />
<meta name="twitter:title" content="{{ title }} | {{ name }}" />
<meta itemprop="name" content="{{ title }} | {{ name }}" />
<meta name="application-name" content="{{ title }} | {{ name }}" />
<meta property="og:site_name" content="{{ title }} | {{ name }}" />

{# DESCRIPTION #}
<meta name="description" content="{{ description }}" />
<meta itemprop="description" content="{{ description }}" />
<meta property="og:description" content="{{ description }}" />
<meta name="twitter:description" content="{{ description }}" />

{# LINKS #}
<!-- <base href="{{ permalink }}" />
<link rel="canonical" href="{{ permalink }}" itemprop="url" />
<meta name="url" content="{{ permalink }}" />
<meta name="twitter:url" content="{{ permalink }}" />
<meta property="og:url" content="{{ permalink }}" /> -->

{# LANGUAGE #}
<meta property="og:locale" content="es" />
<meta name="language" content="spanish" />

{# ICONS #}
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">