<div class="p-4 bg-opacity-25 bg-white w-full md:w-4/5">
  <h3 class="text-2xl font-title text-center">Nosotras</h3>

  <p class="mb-3">
    Somos fotógrafas centradas en la maternidad. Nuestra web general es
    <a
      class="text-blue-400 hover:underline"
      href="https://regazofotografia.com/"
      title="Página principal de Regazo Fotografía"
      target="_blank"
      >Regazo Fotografía</a
    >, pero hemos querido dedicar una página aparte al duelo gestacional y
    neonatal.
  </p>

  <p class="mb-3">
    La importancia de la fotografía como herramienta para ayudar en el tránsito
    del duelo a las familias está demostrada por varios estudios y en diversos
    países se lleva a la práctica desde los años 80.
  </p>

  <p class="mb-3">
    En verano del 2020 nos formamos con Norma Grau, fotógrafa y psicóloga,
    fundadora del Proyecto Stillbirth (2011).
  </p>

  <blockquote class="relative my-8 border-l-2 border-gray-900 pl-3">
    <p class="mb-3">
      El duelo gestacional y neonatal es uno de los duelos silenciados de
      nuestra sociedad, por éso los padres en duelo deben transitarlo en
      solitario. Aunque a veces algunas madres y padres tienen resistencia
      inicial a la idea, las fotografías acaban siendo posesiones de altísimo
      valor y son muy pocos los que no están contentos con tenerlas. De hecho,
      la importancia de tenerlas es tan grande que es frecuente saber de padres
      que vuelven al hospital para solicitar fotos de la pre-autopsia (en los
      casos en los que esas fotos existan).
    </p>

    <p class="mb-3">
      Las fotografías tienen un gran poder emocional, nos permiten conectar con
      nuestros seres queridos; muchos de nosotros llevamos encima fotos de
      nuestra pareja, hijos u otro ser querido, aún sin la necesidad de recurrir
      a esas fotos para saber como son. Una fotografía nos traslada
      emocionalmente al momento en que fue tomada, nos ayuda a mantener nuestra
      identidad como pareja, padres o hijos.
    </p>

    <p>
      En todo proceso de duelo, recordar y mantener la conexión con el ser
      querido puede ayudar para avanzar, pero estas madres y sus parejas apenas
      pasaron unas pocas horas con sus hijos y en ausencia de fotografías ese
      recuerdo se desdibuja. En estos casos, al dolor de la pérdida se suma el
      sufrimiento por sentir que “olvidan” a su hijo, incrementando el
      sentimiento de culpa; al mismo tiempo que disminuyen los apoyos externos
      que reciben: sólo ellos vieron al bebé, sólo ellos le sintieron, no tienen
      nada suyo que mostrar al mundo y no todos reconocen a ese bebé como hijo
      suyo.
    </p>
    <cite class="block text-right">&mdash; Norma Grau</cite>
  </blockquote>

  <a
    href="https://www.facebook.com/normagraufotografiayduelo/videos/572364779591621/"
    title="Vídeo de presentación en Facebook"
    rel="noopener noreferer"
    target="_blank"
    class="border border-blue-600 p-4 shadow-lg block text-center hover:bg-blue-100"
    >Ver el vídeo de presentación del <strong>Proyecto Stillbirth</strong></a
  >
</div>
