<div class="p-4 w-full lg:w-2/3">
  <h3 class="text-3xl font-title text-center mb-4">Enlaces de ayuda</h3>

  <div class="border border-blue-600 p-4 shadow-lg mb-6">
    <p>
      Por favor, si estás relacionada/o con la muerte gestacional y neonatal en
      Cantabria y quieres que te mencionemos aquí, llámanos o escríbenos.
    </p>
  </div>

  <ul class="list-disc">
    <li class="mb-3">
      <a
        class="text-blue-500 hover:underline"
        href="http://www.normagrau.com/"
        target="_blank"
        rel="noopener noreferer"
        >Norma Grau. Fotografía y duelo.</a
      >
    </li>
    <li class="mb-3">
      <a
        class="text-blue-500 hover:underline"
        href="https://www.redelhuecodemivientre.es/"
        target="_blank"
        rel="noopener noreferer"
        >La Red el Hueco de mi Vientre</a
      >
      es una asociación nacional que cuenta con representación en Cantabria.
      Contacto Santander e información general:
      <ul class="list-disc list-inside">
        <li class="mb-3">
          <script type="text/javascript">
            document.write(
              '<n uers="znvygb:erqryuhrpbqrzvivrager@tznvy.pbz" gvgyr="Pbeerb qr pbagnpgb qr yn erq" gnetrg="_oynax" ery="absbyybj">erqryuhrpbqrzvivrager@tznvy.pbz</n>'.replace(
                /[a-zA-Z]/g,
                function (c) {
                  return String.fromCharCode(
                    (c <= "Z" ? 90 : 122) >= (c = c.charCodeAt(0) + 13)
                      ? c
                      : c - 26
                  );
                }
              )
            );
          </script>
        </li>
        <li class="mb-3">616234787</li>
      </ul>
    </li>
    <li class="mb-3">
      <a
        class="text-blue-500 hover:underline"
        href="https://www.mayeutike.es"
        target="_blank"
        rel="noopener noreferer"
        >Psicóloga perinatal Mayeutiké.</a
      >
    </li>
  </ul>

  <h3 class="text-2xl font-title text-center mb-4">Más enlaces</h3>

  <ul>
    <li>Proyecto Stillbirt</li>
    <li>Red el Hueco de mi Vientre</li>
  </ul>
</div>
