<div class="p-4 w-full md:w-4/5">
  <h3 class="text-3xl font-title text-center mb-4">Enlaces de ayuda</h3>

  <div class="border border-blue-700 p-4 shadow-lg mb-6">
    <p>
      Por favor, si ofreces algún servicio relacionado con la muerte gestacional
      y neonatal en Cantabria y quieres que te mencionemos aquí,
      <a
        href="#contact"
        title="Formas de contactar con nosotras"
        class="text-blue-700 hover:underline"
        >escríbenos</a
      >.
    </p>
  </div>

  <ul class="list-disc list-inside">
    <li class="mb-3">
      {% externalLink
        "https://www.umamanita.es/",
        "Umamanita",
        "Página web de Umamanita"
      %}. Apoyo para la muerte perinatal y neonatal.
    </li>
    <li class="mb-3">
      {% externalLink
        "http://www.normagrau.com/",
        "Norma Grau",
        "Página web de Norma Grau"
      %}. Fotografía y duelo.
    </li>
    <li class="mb-3">
      {% externalLink
        "https://www.redelhuecodemivientre.es/",
        "La Red el Hueco de mi Vientre",
        "Página web de la Red el Hueco de mi Vientre"
      %} es una asociación nacional que cuenta con representación en Cantabria.
      <br />
      Contacto de Santander e información general:
      <script type="text/javascript">
        document.write(
          ' <n uers="znvygb:erqryuhrpbqrzvivrager@tznvy.pbz" gvgyr="Pbeerb qr pbagnpgb qr yn erq" gnetrg="_oynax" ery="absbyybj">erqryuhrpbqrzvivrager@tznvy.pbz</n>'.replace(
            /[a-zA-Z]/g,
            function (c) {
              return String.fromCharCode(
                (c <= "Z" ? 90 : 122) >= (c = c.charCodeAt(0) + 13) ? c : c - 26
              );
            }
          )
        );
      </script>
      // 616234787
    </li>
    <li class="mb-3">
      {% externalLink
        "https://juliabernalarroyo.blogspot.com/p/recursos-gratuitos-duelo-gestacional-y.html",
        "Recursos gratuitos para el duelo gestacional y pertinatal",
        "Página web de Julia Bernal Arroyo"
      %}. Por Julia Bernal Arroyo. Duelo gestacional y perinatal presencial Elche.
    </li>
  </ul>
</div>
