<div
  class="flex flex-column flex-wrap content-center justify-center items-center text-center p-4 w-full md:w-4/5"
>
  <h1 class="text-4xl font-title mb-3 w-full">{{ name }}</h1>
  <h2 class="text-2xl w-full">{{ subtitle }}.</h2>
  <h3 class="text-xl w-full font-bold">Sin ánimo de lucro.</h3>
  <blockquote class="relative mt-8 text-xl border-l-2 border-gray-900 pl-3">
    No se trata de fotografiar la muerte, sino de capturar el amor.
    <cite class="block text-right">
      &mdash; 
      {% externalLink "https://www.nowilaymedowntosleep.org/", "NILMDTS", "Página web de Now I Lay Me Down To Sleep", "noopener", "text-sm text-blue-700 hover:underline" %}
    </cite>
  </blockquote>
</div>
