<div class="p-4 w-full md:w-4/5">
  <h3 class="text-3xl font-title text-center mb-4">Ejemplos de sesiones</h3>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    <div class="bg-white rounded overflow-hidden shadow-lg px-6 py-4">
      <h4 class="font-bold text-xl mb-2">Simbólica</h4>
      <p class="text-gray-800 text-base">
        Creación de fotografías a través de objetos del bebé, junto con la
        familia. No importa el tiempo desde el fallecimiento del bebé, ni el
        tiempo de gestación (los objetos pueden haber sido comprados más tarde).
      </p>
    </div>

    <div class="bg-white rounded overflow-hidden shadow-lg px-6 py-4">
      <h4 class="font-bold text-xl mb-2">Acompañamiento al nacimiento</h4>
      <p class="text-gray-800 text-base">
        Acompañamiento al nacimiento, primeros momentos o despedida. Siempre
        desde el máximo respeto, dando intimidad y escuchando las necesidades de
        la familia.
      </p>
    </div>

    <div class="bg-white rounded overflow-hidden shadow-lg px-6 py-4">
      <h4 class="font-bold text-xl mb-2">Rituales de despedida</h4>
      <p class="text-gray-800 text-base">
        Fotografías captadas en el momento en que la familia quiere hacer un
        ritual de homenaje al cuerpo o recuerdo.
      </p>
    </div>

    <div class="bg-white rounded overflow-hidden shadow-lg px-6 py-4">
      <h4 class="font-bold text-xl mb-2">Sesión familiar/embarazo</h4>
      <p class="text-gray-800 text-base">
        Aunque ya se sepa que se ha de despedir a ese bebé pronto,
        aprovecharemos que aún está en la tripa de la mamá para reflejar ese
        amor.
      </p>
    </div>

    <div class="bg-white rounded overflow-hidden shadow-lg px-6 py-4">
      <h4 class="font-bold text-xl mb-2">Acompañamiento a la exhumación</h4>
      <p class="text-gray-800 text-base">
        Fotografías que recogerán el momento del reencuentro con la hija o hijo.
      </p>
    </div>

    <div class="bg-white rounded overflow-hidden shadow-lg px-6 py-4">
      <h4 class="font-bold text-xl mb-2">Retoque de fotografías</h4>
      <p class="text-gray-800 text-base">
        Edición de las fotos que hayan podido tomar la familia o el personal del
        hospital. Daremos un toque cálido y suavizaremos las imágenes. También
        para fotografías solicitadas al departamento de autopsia las cuales no
        están captadas con una mirada amorosa, ese toque de lo daremos nosotras.
      </p>
    </div>
  </div>
</div>
