---
name: Regazo Fotografía
title: Fotografía de duelo perinatal en Cantabria
description: Ofrecemos acopañamiento fotográfico y creación de recuerdos en el duelo gestacional y neonatal - Actividad voluntaria sin ánimo de lucro.
principal: https://regazofotografia.com/
facebook: https://www.facebook.com/regazofotografia
instagram: https://www.instagram.com/regazofotografia/
---

{% capture paperCranes %}{% responsiveBackground "_assets/img/paper-cranes.jpeg", "body #home" %}{% endcapture %}
{% capture memoriesBox %}{% responsiveBackground "_assets/img/memories-box.jpeg", "body #sessions" %}{% endcapture %}

<!DOCTYPE html>
<html lang="es" class="scroll-smooth">
  <head>
    {% include "meta.html" %}
    <link rel="stylesheet" href="/assets/css/tailwind.css" />
    <style>
      {{ paperCranes }}
      {{ memoriesBox }}
    </style>
  </head>
  <body>
    <header class="fixed w-full z-10 top-0">{% include "header.html" %}</header>
    <main class="mt-20">{{ content }}</main>
    <footer
      class="bg-gray-800 text-white py-6 flex flex-col justify-center items-center"
    >
      {% include "footer.html" %}
    </footer>
    {% include "scripts.html" %}
  </body>
</html>
