---
name: Regazo Fotografía
title: Fotografía de duelo perinatal en Cantabria
description: Acompañamiento fotográfico en el duelo gestacional y neonatal en Cantabria
---

<!DOCTYPE html>
<html lang="es">
  <head>
    {% include "meta.njk" %}
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Source+Sans+Pro:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
    {% responsiveBackground "img/paper-cranes.jpeg", "body #home" %}
    {% responsiveBackground "img/memories-box.jpeg", "body #sessions" %}
  </head>
  <body class="font-main">
    <header class="fixed w-full z-10 top-0">{% include "header.njk" %}</header>
    <main class="mt-20">
      {{ content | safe }}
    </main>
    <footer
      class="bg-gray-800 text-white py-6 flex flex-col justify-center items-center"
    >
      {% include "footer.njk" %}
    </footer>
    {% include "scripts.njk" %}
  </body>
</html>
