---
name: Regazo Fotografía
title: Fotografía de duelo perinatal en Cantabria
description: Ofrecemos acopañamiento fotográfico y creación de recuerdos en el duelo gestacional y neonatal - Actividad voluntaria sin ánimo de lucro.
principal: https://regazofotografia.com/
domain: https://dueloperinatal.regazofotografia.com/
facebook: https://www.facebook.com/regazofotografia
instagram: https://www.instagram.com/regazofotografia/
---

<!DOCTYPE html>
<html lang="es">
  <head>
    {% include "meta.njk" %}
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Source+Sans+Pro:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/tailwind.css" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <style>
      {% responsiveBackground "img/paper-cranes.jpeg", "body #home" | safe %}
      {% responsiveBackground "img/memories-box.jpeg", "body #sessions" | safe %}
    </style>
  </head>
  <body class="font-main">
    <header class="fixed w-full z-10 top-0">{% include "header.njk" %}</header>
    <main class="mt-20">
      {{ content | safe }}
    </main>
    <footer
      class="bg-gray-800 text-white py-6 flex flex-col justify-center items-center"
    >
      {% include "footer.njk" %}
    </footer>
    {% include "scripts.njk" %}
  </body>
</html>
